name: Publish

on:
  push:
    branches: [master]

jobs:
  publish-test:
    uses: ./.github/workflows/pull-request.yml

  release-please:
    name: Create Release PR
    needs: [publish-test]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - name: Create Release Pull Request or Release
        uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.PUSH_TOKEN }}

  publish-npm:
    name: Publish to NPM
    needs: [release-please]
    if: needs.release-please.outputs.release_created == 'true'
    runs-on: ubuntu-latest
    container: oven/bun:1
    environment: npm
    permissions:
      id-token: write
    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - name: Install
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Publish to NPM
        run: bun publish --access public --ignore-scripts
