name: Pull Request

on:
  pull_request:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    container: oven/bun:1
    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - name: Install
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build

      - name: Test
        run: bun test
